/* || Fonts Imports ('Inter')
 *************************/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* || Global Variables
 *************************/
:root {
    /* || Colors
     *************************/
    --white: #FFFFFF;
    --gray: #333333;
    --dark-grey: #1F1F1F;
    --black: #141414;
    --neon-green: #C4F82A;

    /* || Inter
     *************************/
    --inter: "Inter", sans-serif;
}


