/* || Body Element
 *************************/
body {
    background-color: $black;

    font-family: $inter;
}

/* || Main Element
 *************************/
main {
    padding: 0 24px;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 576px) {
    main {
        padding: 0;
    }
}